@model Annapolis.WebSite.ClientModels.UserPasswordUpdteClient

@{
    ViewBag.Title = LocaleResources["User.UpdatePassword"];
}

<h2>@LocaleResources["User.UpdatePassword"]</h2>

@Html.Partial("_UserSetting")

<div id="divUserPassUpdate-j">
    <div>@LocaleResources["User.OldPassword"]</div>
    <div><input type="password" data-bind="value: oldPassword, valueUpdate: 'afterkeydown'" /></div>
    <div>@LocaleResources["User.NewPassword"]</div>
    <div><input type="password" data-bind="value: newPassword, valueUpdate: 'afterkeydown'" /></div>
    <p data-bind="validationMessage: newPassword"></p>
    <div>@LocaleResources["User.ConfirmNewPassword"]</div>
    <div><input type="password" data-bind="value: confirmNewPassword, valueUpdate: 'afterkeydown'" /></div>
    <p data-bind="validationMessage: confirmNewPassword"></p>
    <button class="btn" data-bind="enable: isOperationValid, click: updatePass">@LocaleResources["App.Save"]</button>
</div>
@{
    UserPasswordUpdteClient userPasswordUpdate = new UserPasswordUpdteClient(SecurityManager.CurrentUser);
    ScriptRegister.AddJson("userPassUpdate", userPasswordUpdate);
    ScriptRegister.AddKnockOutBinding("userPassUpdate", "divUserPassUpdate-j");
}