@{
    Layout = null; 

    TokenUser tokenUser = SecurityManager.CurrentUser;
    var isLoginUser = tokenUser != null;
    
    <div id="divLoginOnPanel-j" class="row">
        <ul class="nav nav-pills span2">
             <li><a href="/" class="btn btn-info"><i class="icon-home icon-white"></i>@LocaleResources["Layout.Home"]</a></li>
        </ul>
        <hr class="span6" />
        <ul class="nav nav-pills pull-right">   
            @if (isLoginUser)
                {
            <li class="dropdown">
                <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    @LocaleResources["Layout.MyAccount"]
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>@Html.ActionLink(LocaleResources["Layout.MyTopics"], "topic", "user")</li>
                    <li>@Html.ActionLink(LocaleResources["Layout.MyComments"], "comment", "user")</li>
                    <li>@Html.ActionLink(LocaleResources["Layout.MySettings"], "setting", "user")</li>
                </ul>
            </li>
            <li id="layoutSignOutMenu-j"><a href="#"><i></i>@LocaleResources["Membership.SignOut"]</a></li>
                }
                else
                {
            <li id="layoutSignInMenu-j"><a class="btn btn-info"><i class="icon-user icon-white"></i>@LocaleResources["Membership.SignIn"]</a></li>
            <li id="layoutRegisterMenu-j"><a href="#"><i>@LocaleResources["Membership.Register"]</i></a></li>
                }
        </ul>
    </div>
 
    if (!isLoginUser)
    {
    <div>@Html.Partial("_UserAuthentication")</div>
    }

    if(!IsAjax)
    {
        var user = isLoginUser ? new TokenUserClient(tokenUser) : new TokenUserClient();
        @ScriptRegister.RegisterJsonOnClientNow("currentUser", user);
    }
}
