@using System.Text
@model PageTopicClient
@{
    var currentThread = ViewBag.CurrentThread as ContentThread;
    var tagLists = ViewBag.TagLists as List<TagListClient>;
    StringBuilder selectJsEvent = new StringBuilder(256);
}

@Html.Action("StickyTopic", "Topic", new { key = currentThread.Name })

@*Tags*@
<div class="row-fluid">
@for (int i = 0; i < tagLists.Count; i++)
{
    var tagList = tagLists[i];
    <div class="span10">@Html.KoRadioButtonSetList(tagList)</div>
    selectJsEvent.AppendFormat("$ca.notification.selectableListValueChanged+'_{0}'+' '", Html.Raw(tagList.UniqueId));
    if (i < tagLists.Count - 1) { selectJsEvent.Append('+'); }
    
}
<div class="span2 pull-right">
    <button auth-required="true" auth-link="/topic/new/@currentThread.Key" auth-duration="0" class="btn btn-block btn-info btn-primary">@LocaleResources["Topic.CreateTopic"]</button>
</div>
</div>


<div class="row-fluid row-space-20 pageTopic">
   <div id="divPageTopic-j" style="word-wrap: break-word;">
        <div data-bind="with: page">
            <ul data-bind="foreach: models">
                <li class="row-fluid row-space-35">
                    <div class="media">
                    <a class="pull-left">
                        <img class="media-object thumbnailimage-middle resizableImg-j" data-bind='attr: {src: thumbnail}' />
                    </a>
                    <div class="media-body">
                        <a data-bind='text: title, attr: { href: "/topic/show/"+id() }' ></a>
                        <div data-bind="html: subTitle"></div>
                        <div class="">
                            <i data-bind="with: vote">
                                <button class="btn btn-mini" data-bind="authClick: voteUp"><i class="icon-thumbs-up"></i>&nbsp;<span data-bind='text: voteUpCount'></span></button>
                            </i>
                            <i class="icon-calendar"></i><span class="badge badge-info" data-bind="text: '@LocaleResources["App.PublishedBy"] '+zone.toTimeDiff(lastUpdateTime())"></span>
                            <i class="icon-user"></i><span class="badge badge-info" data-bind="text: userName"></span>
                            <a class="btn btn-mini btn-warning pull-right" data-bind='attr: { href: "/topic/show/"+id() }'>View details &raquo;</a>
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
            <div class="row-space-35" data-bind="pagination:'/api/topic'"></div>
        </div>
    </div>
</div>


@{
    ScriptRegister.AddJson("pageTopic", Model);
    ScriptRegister.AddKnockOutBinding("pageTopic", "#divPageTopic-j");    
}
@if (selectJsEvent.Length > 0)
{
    <script type="text/javascript">
        (function () {
            var eventMsg = @Html.Raw(selectJsEvent);
         if(eventMsg){
             amplify.subscribe(eventMsg,
                 function (event) {
                     pageTopic.changeTagFilter(event.group, event.newValue);
                 });
         }
     })();
    </script>
}

