@model Annapolis.WebSite.Admin.Models.ContentComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ContentComment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OriginalContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OriginalContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSpam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSpam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsLocked)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsLocked)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsSolution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSolution)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAttachedToTopic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAttachedToTopic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastUpdateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastUpdateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContentTopic.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContentTopic.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VoteUpCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoteUpCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VoteDownCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoteDownCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MemberUser.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MemberUser.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Key)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Key)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsHidden)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsHidden)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
